- name: Fetch kubeconfig from Kubernetes master node
  hosts: kube_control_plane[0]
  become: yes
  vars:
    kubeconfig_output_dir: "/output"
    kubeconfig_dest: "{{ kubeconfig_output_dir }}/kubeconfig-{{ cluster_name }}.yaml"

  tasks:
    - name: Ensure kubeconfig output directory exists
      delegate_to: localhost
      run_once: true
      file:
        path: "{{ kubeconfig_output_dir }}"
        state: directory
        mode: '0755'

    - name: Fetch the admin.conf file from master
      fetch:
        src: /etc/kubernetes/admin.conf
        dest: "{{ kubeconfig_dest }}"
        flat: yes

    - name: Check if file was fetched
      delegate_to: localhost
      run_once: true
      stat:
        path: "{{ kubeconfig_dest }}"
      register: kubeconfig_check

    - name: Debug kubeconfig presence
      delegate_to: localhost
      run_once: true
      debug:
        var: kubeconfig_check

    - name: Debug IP used in replacement
      delegate_to: localhost
      run_once: true
      debug:
        msg: "Replacing with IP: {{ hostvars[inventory_hostname]['ansible_host'] }}"

    - name: Adjust kubeconfig server address
      delegate_to: localhost
      run_once: true
      replace:
        path: "{{ kubeconfig_dest }}"
        regexp: '^\s*server: https://127\.0\.0\.1:6443'
        replace: '    server: https://{{ hostvars[inventory_hostname]["ansible_host"] }}:6443'
